# Files produced by the setup script or direct import
*.pyc
*.egg-info
build
build/*
dist
dist/*/
dist/*.egg
docs/build/
__pycache__/

# local files
/token

# Jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
docs/source/tutorials/*jpeg
